@font-face {
    font-family: 'League Gothic';
    src: url("/static/type/leaguegothic-regular-webfont.ttf");
}

#skillitHeader {
    margin: 0;
    background: #212223;
    width: 100%;
    position: relative;
    right: 8px;
    bottom: 10px;
    padding: 30px;
}

#headerTitle {
    color: white;
}

#titleText {
    font-family: 'League Gothic';
    font-size: 60px;
    text-transform: uppercase;
    float: left;
}

#titleTagline {
    font-family: 'Open Sans Condensed';
    font-size: 32px;
    font-style: italic;
    text-transform: lowercase;
    position: relative;
    top: 22px;
    left: 12px;
}

ul {
    list-style-type: none;
}

#skillitBody {
    font-family: 'Open Sans Condensed';
    width: 100%;
    min-width: 794px;
}

#recentHeader {
    font-family: 'League Gothic';
    text-transform: uppercase;
    font-size: 44px;
    margin: 5px 20px 0 30px;
}

.recipe {
    background: #D9DADB;
    padding: 5px 10px;
    width: 600px;
    margin-top: 10px;
}

.recipe .recipeName {
    font-size: 32px;
}

.recipe .recipeName a {
    color: #212223;
    text-decoration: none;
}

.recipe .recipeName a:hover {
    color: #FC5C2A;
}

.recipe .recipeInfo {
    height: 135px;
    width: 600px;
}

.recipeInfo .recipeThumbWrapper {
    width: 120px;
    height: 120px;
    float: left;
}

.recipeInfo .recipeThumbWrapper img {
    width: 120px;
    height: 120px;
}

.recipeInfo .recipeDescription {
    margin-left: 140px;
    font-size: 18px;
}

.categories {
    float: right;
    position: relative;
    bottom: 452px;
    padding-right: 20px;
    background: #76AED0;
}

.categories ul {
    padding: 10px;
    margin: 0;
    font-size: 22px;
}

a {
    text-decoration: none;
}
